
@font-face {
    font-family: 'nexalight';
    src: url('./fonts/nexa-light-webfont.woff2') format('woff2'),
         url('./fonts/nexa-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'nexabold';
    src: url('./fonts/nexa-bold-webfont.woff2') format('woff2'),
         url('./fonts/nexa-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$primary-color: #0099CE;
$secondary-color: #C8E7FA;

$bigTitles: clamp(2rem, 6vw, 4.2rem);
$normalText :  clamp(.8rem, 2vw, 1rem);

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "nexalight", sans-serif;
}

h1, h2 {
    font-family: "nexabold";
}


