@import './global.scss';


.services {
    width: 100%;
    margin-top: 2em;

    h1 {
        color: $primary-color;
        font-size: $bigTitles;
        text-transform: uppercase;
        text-align: center;
    }

    .container_image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .img_services {
            width: 70%;
        }
    }
}

.timeline_container {
    margin-top: 2em;

    li::first-letter {
        text-transform: capitalize;
    }

    .vertical-timeline::before {
        background: $primary-color;
    }

    .timeline_container .date_class1 {
        color: #fff;
    }

    .date_class1 {
        // font-size: $bigTitles;
        text-transform: uppercase;
        color: $primary-color;

    }

    .date_class2 {
        // font-size: $bigTitles;
        text-transform: uppercase;
        color: black;
    }

    .date_class3 {
        // font-size: $bigTitles;
        text-transform: uppercase;
        color: #499f68;
    }

    .date_class1, .date_class2, .date_class3 {
        @media screen and (max-width: 1024px) {
            color: black;

        }
    }

    .vertical-timeline-element-content .vertical-timeline-element-date, .vertical-timeline-element-content li {
        margin: 1em 0 0;
        line-height: 1.6;
        font-size: 13px;
        font-size: .8125rem;
        font-weight: 500;
    }


}