@import './global.scss';

.travaux {

    margin-top: 2em;
    padding: 0 10em;


    h1 {
        font-size: $bigTitles;
        color: $primary-color;
        text-transform: uppercase;
        text-align: center;
    }

    h3 {
        font-size: clamp(1.7rem, 5vw, 2rem);
        text-align: center;
    }

    p {
        font-size: $normalText;
        text-align: center;
        margin-top: 2em;
    }

    .travaux_sign {
        margin-top: 1em;
        color: $primary-color;
        stroke: $primary-color;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 4rem;

    }

    @media screen and (max-width: 500px){
        padding: 0 2em;

        .travaux_sign {
            font-size: 3rem;
        }
    }
}

.container_travaux {
    margin-top: 5em;

    h1 {
        font-size: $bigTitles;
        color: $primary-color;
        text-transform: uppercase;
        text-align: center;
    }

    .compare_container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 3em;

        img {
            height: 500px;
        }

        @media screen and (max-width: 500px){
            h1 {
                display: none;
            }
        }

        

    }
}

