@import './global.scss';

.travaux {

    margin-top: 2em;
    padding: 0 10em;


    h1 {
        font-size: $bigTitles;
        color: $primary-color;
        text-transform: uppercase;
        text-align: center;
    }

    h3 {
        font-size: clamp(1.7rem, 5vw, 2rem);
        text-align: center;
    }

    p {
        font-size: $normalText;
        text-align: center;
        margin-top: 2em;
    }

    @media screen and (max-width: 500px){
        padding: 0 2em;
    }
}

.compare_container {
    display: flex;
    justify-content: center;
    align-self: center;

}